$scale:0.9;
$font-scale:1.15;

body {
  padding-top: (70px*$scale);
  padding-bottom: (40px*$scale);
  background-color:transparent;
}

#main, #navbar {
  width: (1050px*$scale);
}
img.logo {
  float:left;
  padding: (10px*$scale) 0 (10px*$scale) 0;
  width:(43px*$scale);
  height:(35px*$scale);
}
.hero-unit {
  padding:(10px*$scale) (25px*$scale);
  border-radius:(10px*$scale);
  margin-bottom: (30px*$scale);
  font-size: (18px*$scale*$font-scale);
  font-weight: 200;
  line-height: (30px*$scale);
  h2 {
    font-size:(24px*$scale*$font-scale);
    font-family:"Century Gothic";
    margin: (10px*$scale) 0;
    line-height: (40px*$scale);
  }
  h4 {
    margin: (10px*$scale) 0;
    font-size:(17.5px*$scale*$font-scale);
    line-height: (20px*$scale);
  }
  img.map {
    float:right;
    margin:0 0 (10px*$scale) (15px*$scale);
    box-shadow:(3px*$scale) (3px*$scale) (10px*$scale) rgba(0, 0, 0, 0.7);
    width:(450px*$scale);
    height:(349px*$scale);
  }
  ol {
    margin: 0 0 (10px*$scale) (25px*$scale);
  }
}
.container a.brand {
  font-family:"Century Gothic";
  color:#fff;
  padding: (10px*$scale) (20px*$scale) (10px*$scale) (22px*$scale);
  margin-left: -(10px*$scale);
  font-size: (24px*$scale*$font-scale);
  font-weight: 200;
}
.replyto {
  font-weight:300;
  color:#fff;
  letter-spacing:(1px*$scale);
  margin-top:(6px*$scale);
  p {
    line-height:(18px*$scale);
    margin:0;
    text-align:right;
  }
}

.itinerary {
  h3, h4 {
    margin:(9px*$scale) auto;
    text-align:center;
    font-family:"Century Gothic";
  }
  .span3 {
    width:(215px*$scale);
    margin-left: (45px*$scale);
  }
  img {
    width:100%;
    margin:0 auto;
    padding:(3px*$scale);
    box-shadow:0 0 (20px*$scale)rgba(0, 0, 0, 0.7);
  }
  li {
    font-size:(14px*$scale*$font-scale);
    line-height:(24px*$scale);
    list-style:circle;
  }
}
.valence {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -720px;
  width: 1440px;
  height: 1117px;
  background-size:100%;
  z-index: -1;
  background-repeat: no-repeat;
  overflow: hidden;
  background:#fff url('../img/bml-large.jpg') no-repeat;
}
